body {
  font-family: sans-serif;
  color: #000;
  background-color: #fff;
  margin: 0;
}

h1, p, ul, input {
  text-align: center;
}

h1, button {
  background-color: #657;
  color: #f7efff;
}

h1 {
  width: 100%;
  margin: 0 0 0.3em;
  padding: 0.1em 0;
}

button {
  border-radius: 0.5em;
  border-width: 1px;
  padding: 0.5em;
}

/* This covers the letter fields, and the punctuation among them */
form > div {
  letter-spacing: 0.3em;
  line-height: 180%;
  font-weight: bold;
}

/* This applies to letter fields that aren't separated by whitespace, i.e. words */
form span {
  white-space: pre;
}

/* This should only apply to letter fields, because <button> is used for the buttons */
input {
  width: 1.2em;
  font-size: 90%;
  margin-right: 0.1em;
  border-width: 1px;
}

/* Applied dynamically to letter fields that share a letter */
.same {
  background-color: #f7efff;
}

/* Attribution */
.att {
  text-align: right;
}

:placeholder-shown {  
  font-style: italic;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

ol li {
  margin-bottom: 0.5em;
}

a {
  padding: 3px; /* This is just to make the outlines on focused links look nicer */
}


/*** Overlay ***/

.hid {
  display: none;
}

/* Applied to the body while the overlay is shown */
.noscroll {
  overflow: hidden;
}

#ol-back {
  background: rgba(30%, 30%, 30%, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

#ol-fore {
  background: rgba(100%, 100%, 100%, 1);
  position: absolute;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

#ol-close {
  text-align: right;
}


/*** For when a secondary page is visited directly, which should only happen if JS is turned off ***/
.direct {
  margin: 1em;
}


/*** Answer page ***/

/* Shows the quote when you get it right, or when you give up */
.proof {
  margin: 1em 5%;
  font-family: serif;
  font-style: italic;
}

.correct, .wrong {
  font-weight: bold;
}

.correct {
  color: #6c6;
}

.wrong {
  color: #f00;
}


/*** Desktop browsers & up ***/

@media (min-width: 600px) {
  h1 {
    font-size: 300%;
    letter-spacing: 0.5em;
  }
  
  form {
    padding: 0 9%;
  }
 
  form > div {
    font-size: 220%;
  }

  button {
    font-size: 110%;
  }
  
  ul li {
    display: inline;
    padding: 0 1em;
  }

  ul li:not(:first-child) {
    border-left: 1px dotted #666;  
  }

  #ol-fore {
    top: 10%;
    left: 20%;
    right: 20%;
  }

  .proof {
    font-size: 200%;
  }
}


/*** Mobile devices and other small screens ***/

@media (max-width: 599px) {
  h1 {
    letter-spacing: 0.1em;
  }
  
  form {
    padding: 0 1%;
  }

  form > div {
    font-size: 110%;
  }

  #ol-fore {
    top: 2%;
    left: 5%;
    right: 5%;
  }

  .proof {
    font-size: 140%;
  }
}
