body {
  font-family: monospace;
  margin: 0;
}

h1 {
  text-align: center;
  position: relative;
  top: -0.3em;
  font-size: 400%;
  letter-spacing: 0.5em;
  width: 100%;
  background-color: #666;
  color: #ddd;
  margin: 0;
  padding-bottom: 0.2em;
}

form {
  margin: 0 9%;
  letter-spacing: 0.3em;
  line-height: 260%;
  font-size: 200%;
}

form span {
  white-space: pre;
}

input {
  width: 1em;
  text-align: center;
  font-size: 90%;
}

.att {
  text-align: right;
}

:placeholder-shown {  
  font-style: italic;
}

p {
  text-align: center;
}